body{
  background: url(./img/зф5.jpg);
  background-size: contain;
}

html{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
}
.lorem{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    padding-top: 200px;
    width: 500px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}
.dizayn{
  text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.7);
}
.diz{
  font-size: 1.3em;
}
.logo{
  margin-left: 10px;
  width: 95px;
  height: 80px;
}
.glav{
  margin-top: 80px;
}
.heo{
    color: #fff;
    font: bold;
}

.mmm{
  width: 100%;
  padding-top: 50px;
  height: 400px;
}

.mmmm{
  font-size: 16px;
  color: #404040;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20%;
  height: 350px;
}

.ot{
  font-size: 60px;
}

.lll2{
  text-shadow: 0 2px 0px rgba(255, 0, 0, 0.7);
}

.bbb{
  background-color: #fff;
  border-radius: 50%;
}

.mmmmm{
  position: absolute;
  top: 3050px;
}

.ppp{
  text-shadow: none;
  color: #404040;
  font-size: xx-large;
}

.m{
  column-gap: 40px;
  padding-top: 40px;
}

.ava{
    display: flex;
}
.tr-03{
  transition: 0.3s all;
}
.header{
  height: 80px;
}
.ava1{
    width: 46px;
    height: 46px;
}
.ui{
  padding: 10px 8px;
  margin-right: 20px;
  background-color: grey;
  border-radius: 10px;
  border: none;
}
.ui:hover{
  padding: 15px 10px;
}
.p{
    margin-left: 15px;
}
.www1{
    width: 400px;
    height: 600px;
}
.www2{
  margin-top: 80px;
  margin-left: 500px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.9);
}
.zz{
  width: 600px;
  padding-bottom: 30px;
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
}
.rr{
  transition: 0.4s;
  filter: blur(1.25px)
}
.dyrisen{
  width: 100px;
}

.col-pic{
  padding-top: 50px;
}


.mujik{
  position: absolute;
  left: 900px;
  bottom: -1270px;
  width: 500px;
  z-index: 55;
  text-shadow: 0 3px 8px rgba(255, 0, 0, 0.7);
}


.krig{
  top: 560px;
  width: 400px;
  position: relative;
  left: 200px;
  font-size: x-large;
  text-shadow: 0 3px 8px rgba(255, 0, 0, 0.7);
}

.lll{
  text-shadow: 0 3px 8px rgba(255, 0, 0, 0.7);
}

.iscandar{
  position: absolute;
  top: 1000px;
  left: 100px;
  width: 1310px;
  height: 1200px;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: -55;

}

.marquee{
  width: 100%;
  height: 230px;
  padding-top: 40px;
  padding-bottom: 40px
}


.hh{
  position: relative;
  right: 240px;
  top: 40px;
  padding-bottom: 90px;
}
.hhh{
  font-size: 5em;
  position: relative;
  right: 240px;
  text-shadow: 0 3px 8px rgba(255, 0, 0, 0.7);
}
.hhhh{
  font-size: 2em;
  top: 20px;
  position: relative;
  right: 200px;
  text-shadow: 0 3px 8px rgba(255, 0, 0, 0.7);
}

.hhhhh{
  position: relative;
  top: 140px;


}


.w-{
  width: 1259.5px;
  padding-top: 100px;
  padding-left: 200px;
  margin-top: 100px;
  position: relative;
  left: -650px;
  top: 30px;
  border-radius: 40px;
  background: gray;
}
.opisanie{
  color: #404040;
  font-size: x-large;
}


.opisanie2{
  font-size: xx-large;
}


.iscandar2{
  position: absolute;
  width: 1310px;
  top: 2630px;
  left: 100px;
  height: 450px;
  z-index: -55;
  background-color: rgba(128, 128, 128, 0.5);
}



.foot{
  margin-top: 500px;
}
























































































































































































.button{
  position: relative;
  text-decoration: none;
  color: rgb(197, 197, 197);
  text-transform: uppercase;
  font-size: 24px;
  display: inline-block;
  font-family: Impact;
  letter-spacing: 4px;
  overflow: hidden;
  padding: 15px 30px;
  transition: 0.2s;
  cursor: pointer;
  left: 100px;
  bottom: 30px;
}
.button--line{
  position: absolute;
  display: block;
}
.button--line-top{
  left: -100%;
  top: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(197, 197, 197));
}
.button:hover .button--line-top{
  transition: 1s;
  left: 100%;
  transition-delay: 0.25s;
}
.button--line-bottom{
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(197, 197, 197));
}
.button:hover .button--line-bottom{
  transition: 1s;
  right: 100%;
  transition-delay: 0.25s;
}

.button--line-left{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, rgb(197, 197, 197));
}
.button:hover .button--line-left{
  transition: 1s;
  bottom: 100%;
  transition-delay: 0s;
}
.button--line-right{
  bottom: 100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(197, 197, 197));
}
.button:hover .button--line-right{
  transition: 1s;
  bottom: -100%;
  transition-delay: 0s;
}
.button:hover{
  box-shadow: 0 0 10px #404040, 0 0 40px #404040, 0 0 80px #404040;
  background-color: #404040;
  color: #fff;
  transition-delay: 1s;
}





















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































/* Текст в картиние */
@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);
.tiles {
  width: 400px;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tiles .tile {
  display: inline-block;
  margin: 10px;
  text-align: left;
  opacity: 0.99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}
.tiles .tile:before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition-property: top, opacity;
  transition-duration: 0.3s;
}
.tiles .tile img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tiles .tile .details {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.tiles .tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
.tiles .tile .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}
.tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.tiles .tile:focus:before,
.tiles .tile:focus span, .tiles .tile:hover:before,
.tiles .tile:hover span {
  opacity: 1;
}
.tiles .tile:focus:before, .tiles .tile:hover:before {
  top: 50%;
}
.tiles .tile:focus span, .tiles .tile:hover span {
  top: 0;
}
.tiles .tile:focus .title, .tiles .tile:hover .title {
  transition-delay: 0.15s;
}
.tiles .tile:focus .info, .tiles .tile:hover .info {
  transition-delay: 0.25s;
}
/* Конец */
.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.example_e {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: bold;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }
  .example_e:hover {
  color: white !important;
  background: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  }