/* стиль для видео */
#video-container{
    position: relative;
    top: 60px;
    right: -640px;
    /* z-index: -1; */
}
#video-container-2{
    display: flex;
}

#my-video-2{
    padding-bottom: 80px;
    position: relative;
    left: 100px;
}




#play-button{
    position: absolute;
    background-color: aliceblue;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    background-image: url(./img/play-button.png);
    background-size: contain;
    border: none;
    cursor: pointer;
    z-index: 5;
}